In [33]:
import pandas as pd

### Step 1: Environment Setup & Dataset Loading
The dataset was successfully loaded into Google Colab using pandas. This ensures a reproducible
environment where all analysis and cleaning steps can be executed consistently.

In [34]:
df=pd.read_csv('student_por.csv')
print("Dataset loaded successfully!")

Dataset loaded successfully!

### Step 2: Initial Data Exploration
The first few rows of the dataset were displayed using `.head()` to understand the type of data available.
The `.info()` method was used to inspect column names, data types, and identify columns with missing values.
This step helps determine which columns require cleaning or datatype conversion in later steps.

In [35]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    object
 1   sex         649 non-null    object
 2   age         649 non-null    int64
 3   address     649 non-null    object
 4   famsize     649 non-null    object
 5   Pstatus     649 non-null    object
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    object
 9   Fjob        649 non-null    object
 10  reason      649 non-null    object
 11  guardian    649 non-null    object
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    object
 16  famsup      649 non-null    object
 17  paid        649 non-null    object
 18  activities  649 non-null    object
 19  nursery     649 non-null    object
 20  higher      649 non-null    object
 21  internet    649 non-null    object
 22  romantic    649 non-null    object
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

### Step 3: Missing Value Identification
Missing values were identified using `.isnull().sum()` to understand data quality issues.
This analysis helped determine which columns require cleaning and the appropriate strategy
(mean/median for numerical columns and mode for categorical columns).

In [37]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

### Step 4: Missing Value Treatment
After analyzing missing values, it was observed that the dataset contains no null or missing entries.
Therefore, no imputation or row/column removal was required. The dataset is complete and suitable
for further analysis without additional cleaning at this stage.

In [38]:
df.isnull().sum().sum()

np.int64(0)

### Step 5: Duplicate Record Handling
The dataset was checked for duplicate records using `.drop_duplicates()`.
Row counts were compared before and after the operation to verify the presence of duplicates.
This step ensures data integrity and avoids biased analysis due to repeated records.

In [39]:
rows_before = df.shape[0]
print(rows_before)

649

In [40]:
df = df.drop_duplicates()

In [41]:
rows_after = df.shape[0]
print(rows_after)

649

### Step 6: Datatype Conversion
The dataset does not contain date columns requiring datetime conversion.
Categorical columns originally stored as `object` were converted to `category` datatype
to improve memory efficiency and ensure proper handling during analysis and modeling.

In [42]:
categorical_cols = df.select_dtypes(include='object').columns
categorical_cols

Index(['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob',
       'reason', 'guardian', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic'],
      dtype='object')

In [43]:
df[categorical_cols] = df[categorical_cols].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      649 non-null    category
 1   sex         649 non-null    category
 2   age         649 non-null    int64
 3   address     649 non-null    category
 4   famsize     649 non-null    category
 5   Pstatus     649 non-null    category
 6   Medu        649 non-null    int64
 7   Fedu        649 non-null    int64
 8   Mjob        649 non-null    category
 9   Fjob        649 non-null    category
 10  reason      649 non-null    category
 11  guardian    649 non-null    category
 12  traveltime  649 non-null    int64
 13  studytime   649 non-null    int64
 14  failures    649 non-null    int64
 15  schoolsup   649 non-null    category
 16  famsup      649 non-null    category
 17  paid        649 non-null    category
 18  activities  649 non-null    category
 19  nursery     649 non-null    category
 20  higher      649 non-null    category
 21  internet    649 non-null    category
 22  romantic    649 non-null    category
 23  famrel      649 non-null    int64
 24  freetime    649 non-null    int64
 25  goout       649 non-null    int64
 26  Dalc        649 non-null    int64
 27  Walc        649 non-null    int64
 28  health      649 non-null    int64
 29  absences    649 non-null    int64
 30  G1          649 non-null    int64
 31  G2          649 non-null    int64
 32  G3          649 non-null    int64
dtypes: category(17), int64(16)
memory usage: 94.3 KB

### Step 7: Feature Engineering
New features were created to enhance analytical value. An average grade column was derived
from existing grade variables, a performance category was assigned based on average scores,
and a pass/fail status was created using the final grade. These transformations help simplify
analysis and improve interpretability.

In [44]:
df['avg_grade'] = df[['G1', 'G2', 'G3']].mean(axis=1)

In [45]:
def performance_category(avg):
    if avg >= 15:
        return 'High'
    elif avg >= 10:
        return 'Medium'
    else:
        return 'Low'

df['performance_level'] = df['avg_grade'].apply(performance_category)

In [46]:
df['pass_status'] = df['avg_grade'].apply(lambda x: 'Pass' if x >= 10 else 'Fail')

In [47]:
df[['G1', 'G2', 'G3', 'avg_grade', 'performance_level', 'pass_status']].head()

   G1  G2  G3  avg_grade performance_level pass_status
0   0  11  11   7.333333               Low        Fail
1   9  11  11  10.333333            Medium        Pass
2  12  13  12  12.333333            Medium        Pass
3  14  14  14  14.000000            Medium        Pass
4  11  13  13  12.333333            Medium        Pass

### Step 8: Export Cleaned Dataset
After completing data cleaning and feature engineering, the final dataset was exported
to a CSV file using `.to_csv()`. This ensures the cleaned data can be reused for modeling,
reporting, and future analysis.

In [48]:
cleaned_file_path = "student-por-cleaned.csv"
df.to_csv(cleaned_file_path, index=False)

cleaned_file_path

'student-por-cleaned.csv'